body {
    direction: ltr;
    font-family: 'vazir', sans-serif;
    background-color: #D4C9BE !important;
    margin: 0;
    padding: 0;
    color: #030303;
}

.container {
    /* width: 1200px; */
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    background: #F1EFEC;
}

header ul {
    display: flex;
    align-items: center;

}

header ul li {
    padding: 15px 0;
    margin-left: 20px;
    cursor: pointer;
    list-style-type: none;
}

.wrapper {
    position: sticky;
    top: 0;
    right: 0;
}

.progressbar {
    width: 100%;
    height: 5px;
    background: #3C3D37;
    z-index: 1;
    border-radius: 10px;
    box-shadow: rgb(236, 223, 204) 0px 5px, rgb(171, 162, 149) 0px 10px, rgb(182, 172, 157)rgb(236, 223, 204) 0px 15px, rgb(192, 182, 167) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.progressbarMain {
    width: 0;
    height: 5px;
    background: #F0F0F0;
    border-radius: 10px;
}



.content {
    padding: 20px 300px;
}

.content p {
    margin-top: 100px;
}